[class^="emj-"],
[class*="emj-"] {
background-size: auto 100%;
}


.emj-ios_{
    display: block;

}

.emj-ios_grinning-face {
    content: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/grinning-face_1f600.png');
}

.emj-ios_grinning-face-with-big-eyes{
    content: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/grinning-face-with-big-eyes_1f603.png');
}

.emj-ios_grinning-face-with-smiling-eyes{
    content: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/grinning-face-with-smiling-eyes_1f604.png');
}

.emj-ios_flag-ukraine{
    content: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/flag-ukraine_1f1fa-1f1e6.png');
}

